<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Viewer</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="App.js"></script>
  </head>
  <body>
    <div id="root">
      <!-- App.js가 Nav/NewsList 컴포넌트를 사용해 동적으로 생성한다. -->
      <!-- Nav 컴포넌트 -->
      <nav class="category-list"></nav>
      <!-- NewsList 컴포넌트 -->
      <div class="news-list-container">
        <article class="news-list"></article>
        <div class="scroll-observer">
          <img src="img/ball-triangle.svg" alt="Loading..." />
        </div>
      </div>
    </div>
  </body>
</html>
